:root {
    --bg-color: #1E1E1E;
    --player-container-bg: #002855;
    --player-container-text: #FFFFFF;
    --player-container-chances: #CCDD77;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: #ddddddc2;
    align-content: baseline;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

#players-list {
    display: flex;
    flex-direction: row;
}

.player-container {
    width: 20%;
    height: 15%;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--player-container-bg);
    color: var(--player-container-text);
    align-content: center;
}

.player-container div {
    margin: 10px auto;
    text-align: center;
}

.chances {
    font-size: 25px;
    font-weight: bold;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.id {
    font-size: 40px;
    font-weight: bolder;
}