:root {
    --bg-color: #1E1E1E;
    --player-container-bg: #002855;
    --player-container-text: #FFFFFF;
    --player-container-chances: #CCDD77;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: #ddddddc2;
    align-content: baseline;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

#players-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.player-container {
    width: 17%; /* 5 elementów w jednym rzędzie*/
    margin: 10px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: var(--player-container-bg);
    color: var(--player-container-text);
    display: flex;
    flex-direction: column;   
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.player-container.selected {
    background-color: #003A7A;  
    box-shadow: 0px 0px 30px 0px #d0d0d0;
}

.player-container.eliminated {
    height: 129px;
    background-color: #001e3d80;  
    box-shadow: 0px 0px 30px 0px #00000080 inset;
    cursor: default;
    opacity: 0.5;
}

.player-container div {
    text-align: center;
    justify-content: center;
}

.chances {
    font-size: 25px;
    font-weight: bold;
    color: var(--player-container-chances);
    background-color: var(--player-container-chances);
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    position: relative;
    margin-top: 0;
}

.chances-container {
    display: flex;
    text-align: center;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.id {
    font-size: 40px;
    font-weight: bolder;
}

.player-radio {
    display: none;
}

#question-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background: #242323;  
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ddd;
}

thead {
    background: #333;
    color: #fff;
}

th, td {
    padding: 12px 15px;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr:hover {
    background: #383838;
    cursor: pointer;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#button-correct {
    background: #28a745; /* Zielony kolor dla poprawnej odpowiedzi */
    color: white;
}

#button-correct:hover {
    background: #218838; /* Ciemniejszy odcień na hover */
}

#button-wrong {
    background: #dc3545; /* Czerwony kolor dla błędnej odpowiedzi */
    color: white;
}

#button-wrong:hover {
    background: #c82333; /* Ciemniejszy odcień na hover */
}

#button-next-question, #button-previous-question {
    background: #007bff; /* Niebieski kolor */
    color: white;
}

#button-next-question:hover, #button-previous-question:hover {
    background: #0056b3; /* Ciemniejszy odcień na hover */
}

#button-harder-question, #button-easier-question {
    background: #d39e00; /* Złoty kolor dla wyboru pytania */
    color: white;
}

#button-harder-question:hover, #button-easier-question:hover  {
    background: #b38600; /* Ciemniejszy odcień na hover */
}
